DATABASE_URL=your-database-url

GOOGLE_CLIENT_ID=your-google-client-id

GOOGLE_CLIENT_SECRET=your-google-client-secret

BETTER_AUTH_URL=http://localhost:3000

CLOUDINARY_CLOUD_NAME=cloudinary-name

CLOUDINARY_API_KEY=cloudinary-api-key

CLOUDINARY_API_SECRET=cloudinary-api-secret

CRON_BEARER_TOKEN=cron-bearer-token

SENDER_EMAIL=your-sender-email

BREVO_API_URL=https://api.brevo.com/v3/smtp/email

BREVO_API_KEY=your-brevo-api-key

ESEWA_SECRET_KEY=your-esewa-secret-key

ESEWA_PRODUCT_CODE=your-esewa-product-code

ESEWA_SUCCESS_URL=http://localhost:3000/payment/success

ESEWA_FAILURE_URL=http://localhost:3000/payment/failure